.Footer{
    background-color: green;
    height: 100px;
    width: 100%;
    
}


header {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: green;
    color: white;
    position: fixed;
    width: 98%;
    margin-top: -92px;
   
}
.logo {
    font-size: 24px;
    font-weight: bold;
}
nav {
    display: flex;
    gap: 20px;
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
nav a:hover {
    text-decoration: underline;
}